{% if releases %}
Below is a complete list of all of the releases
Click through to access the data field
<table>
    <tr>
        <th>Name</th>
        <th>Product</th>
        <th>Version</th>
        <th>Data</th>
    </tr>
    {% for name, form in releases.iteritems() %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ form.product()|safe }}</td>
        <td>{{ form.version()|safe }}</td>
        <td> <a href='releases/{{ name }}'>link</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
There were no releases provided.
{% endif %}
