{% if permissions %}
<h2>Edit existing permissions for {{ username }}:</h2>
{% endif %}
<ul>
{% for form in forms %}
    <li>
    <form method='post' id='{{ form.permission.data }}' action='/users/{{ username }}/permissions/{{ form.permission.data }}'>
        {{ form.permission.label()|safe }}:
        {{ form.permission()|safe }}
        {{ form.options.label()|safe }}:
        {{ form.options()|safe }}
        {{ form.data_version()|safe }}
        <input type='submit' value='Update' />
    </form>
    </li>
{% endfor %}
</ul>
